@{
    ViewBag.Title = "Emailadresse bekræftet";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Tak for bekræftelsen af din emailadresse. Din registrering er nu sendt videre som en forespørgsel om adgang til systemet og du vil modtage en mail, så snart 
    den er blevet behandlet.</p>
</div>
