@{
    ViewBag.Title = "Emailadresse skal bekræftes";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Tak for registreringen. En mail med instruktioner til bekræftelse af din emailadresse er blevet sendt til adressen. Bekræftelse er nødvendig for det videre forløb. Check din emailkonto for at læse og udføre instruktionerne.
    </p>
</div>
