@{
    ViewBag.Title = "Ikke aktiveret";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Din konto er endnu ikke aktiveret. Din registrering om adgang til systemet er sendt til behandling og du vil modtage svar per mail.
</div>
