@{
    ViewBag.Title = "Ikke aktiveret";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Din konto kunne ikke aktiveres. Hvis du mener, dette er forkert, kontakt da venligst administrator.
</div>
