@{
    ViewBag.Title = "Emailadresse ikke bekræftet";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Du har endnu ikke bekræftet din emailadresse, hvilket er nødvendigt for at kunne fortsætte. Check venligst din emailkonto for at finde emailen, som giver adgang til at bekræfte adressen.
    </p>
</div>
