@{
    ViewBag.Title = "Nulstil password skal bekræftes via email";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        En mail med instruktioner til nulstilning af dit password er blevet sendt til din emailadresse. Check din emailkonto for at læse og udføre den.
    </p>
</div>
	
