@{
    ViewBag.Title = "Nulstilling af password bekræftes";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Dit password er blevet nulstillet. @Html.ActionLink("Klik her for at logge ind.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
