@model SoniReports.ViewModels.ReportViewModel
@{
    ViewBag.Title = "Dashboard";
}

<h2>TestReport</h2>

<div style="display: table; width: 100%;">
    @*@{
        @Html.Partial("ReportViewer", Model)
    }*@
</div>